.dropdown_wrap {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 100; */
}

.dropdown_menu {
    position: absolute;
    background: var(--main-color);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 101;
}