.button {
    color: rgba(0, 0, 0, 0.692);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(168, 168, 168);
    transition: all 0.2s;
}

.button:hover {
    color: #fff;
}

.button_small {
    height: 30px;
    width: 110px;
}

.button_medium {
    height: 35px;
    width: 180px;
}

.button_large {
    height: 45px;
    width: 210px;
    font-size: 20px;
}