.form {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px;
}

.form_item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.form_item label {
    color: var(--dark-text-color);
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.form_item textarea,
.form_item input {
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    
}

.form_item textarea {
    resize: none;
    height: 150px;
}

.btn_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.error_message {
    color: red;
    font-size: 12px;
}