.sub_wrap {
    background-color: #f0f0f0;
    color: #fff;
    overflow: hidden;
    border-radius: 5px;
    padding: 15px;
    aspect-ratio: 4/6;
    display: grid;
    grid-template-rows: 65px auto 45px;
    gap: 10px;
    justify-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub_wrap img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.description_wrap {
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.price_wrap,
.sub_description {
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.sub_description {
    position: absolute;
    width: 100%;
    height: 40px;
    border-top: 1px solid var(--main-button-color);
    overflow: scroll;
    word-break: normal;
    white-space: break-spaces;
    transition: all 0.5s;
}

.sub_description:hover {
    height: 100%;
}

.sub_name_wrap,
.price_wrap {
    width: 63px;
    height: 63px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_name_wrap {
    font-weight: bold;
    flex-grow: 1;
    max-height: 65px;
    hyphens: auto;
    padding: 0 10px;
}

.price_wrap {
    border-radius: 50%;
    border-right: solid 1px var(--main-button-color);
}

.sub_header {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 50px;
    border-bottom: solid 1px var(--main-button-color);
    border-top: solid 1px var(--main-button-color);
} 