.menu {
    width: 100%;
    background-color: #C8FFE8;
    display: flex;
    justify-content: center;
}

.menu_item {
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.activeMenu {
    cursor: default;
    border-bottom: 5px solid #5EBD9B;
}