.menu {
    display: flex;
    justify-content: center;
}

.menu_item {
    padding: 0 15px;
    cursor: pointer;
    text-align: center;
}

.activeMenu {
    cursor: default;
    border-bottom: 5px solid #5EBD9B;
}