.user_wrap {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
    transition: all 0.3s;
}

.user_wrap:hover {
    background-color: rgb(224, 235, 235);
} 

.user_info {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.user_info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit:cover;
    margin: 0;
    margin-right: 15px;
}