.buttons_wrap {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgb(155, 155, 155);
    padding: 10px 0;
}

.buttons_wrap button {
    width: 110px;
    height: 30px;
    background-color: rgb(206, 211, 214);
}

.buttons_wrap button:hover {
    background-color: #b6b5b5;
}

.message {
    margin: 15px;
}