.tooltip {
    position: absolute;
    padding: 10px;
    font-size: .8em;
    color: white;
    background: var(--hover-main-color);
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.2s;
    z-index: 1000;
}

.horizontal {
    left: 65px;
}

.vertical {
    top: 50px;
    margin: auto;
}