.posts_wrap {
    grid-area: posts;
    overflow: scroll;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
}

@media (max-width: 1300px) {
    .posts {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

@media (max-width: 425px) {
    .posts_wrap {
        overflow: visible;
    }
  }