.preview {
    width: auto;
    height: 140px;
    border-radius: 5px;
    margin: 2px;
}

.preview_wrap {
    position: relative;
}

.close_btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    right: 5px;
    color: rgb(155, 155, 155);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}
.close_btn:hover {
    color:rgb(255, 81, 81);
    background-color: rgba(0, 0, 0, 0.658);
}

.previews_wrap {
    min-height: 100px;
    width: 100%;
    border-radius: 5px;
    border: 3px rgba(0, 0, 0, 0.527) dashed;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn_wrap {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#post_preview {
    display: none;
}