.preview_wrap {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    aspect-ratio: 1/1;
}

.preview_footer,
.preview_header {
    position: absolute;
    left: 0;
    right: 0;
    height: 18%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: white;
    z-index: 40;
    transition: all 0.3s;
}

.preview_header {
    margin: 0 20px;
    border-radius: 50px;
    border-bottom: solid 1px var(--main-button-color);
    /* border-top: solid 1px var(--main-button-color); */
}
.preview_footer {
    margin: 0 10px;
    justify-content: space-between;
    border-radius: 50px;
    /* border-bottom: solid 1px var(--main-button-color); */
    border-top: solid 1px var(--main-button-color);
}

.avatar,
.preview_image {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit:cover;
    transform: scale(1);
    transition: all 0.5s;
    z-index: 35;
}
.preview_image:hover {
    transform: scale(1.03);
}

/* Header Info */
.avatar_wrap {
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-right: solid 1px var(--main-button-color);
}
.author_name {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.author_name a {
    font-weight: bold;
    color: white;
}

/* Footer Info */
.views,
.likes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.322); */

    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;

}