.subscriptions_wrap {
    grid-area: content;
    overflow: scroll;
}

.subscriptions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
}

.add_sub_btn {
    background-color: #f0f0f0;
    font-size: 76px;
    color: #b1b1b1;
    border: 3px solid #b1b1b12c;
    aspect-ratio: 4/6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.add_sub_btn:hover {
    background-color: #e2e0e0;
}

@media (max-width: 1300px) {
    .subscriptions {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

@media (max-width: 425px) {
    .subscriptions_wrap {
        overflow: visible;
    }
  }