.subscriptions_wrap {
    grid-area: content;
    overflow: scroll;
}

.subscriptions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
}

@media (max-width: 1300px) {
    .subscriptions {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

@media (max-width: 425px) {
    .subscriptions_wrap {
        overflow: visible;
    }
  }