.follow_info {
  width: 100%;
  margin: 15px 0 20px;
  display: flex;
  justify-content: space-around;
}

.followers,
.following {
  cursor: pointer;
}

.follow_info p {
  color: #646464;
}

.follow_info h2 {
  text-align: center;
  font-size: 32px;
}
