.header_wrap {
    position: relative;
    background: var(--main-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header_wrap h1 {
    color: white;
    font-weight: bold;
}

.login {
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.header_items {
    display: flex;
}

.add_btn {
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}