.info_wrap {
  position: relative;
  background-color: #f0f0f0;
  grid-area: info;
  border-radius: 5px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display_name_wrap h2 {
  text-align: center;
  font-size: 32px;
}

.button_wrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.settings_btn {
  position: absolute;
  color: #acacac;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.5s;
}
.settings_btn:hover {
  color: #78e1af;
}

.bio {
  white-space: pre-line;
}