.modal_wrap {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 150;
}

.modal_window {
    position: relative;
    background-color: azure;
    width: 750px;
    border-radius: 10px;
    overflow: hidden;
}

.close_btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 26px;
    color: rgb(155, 155, 155);
    cursor: pointer;
    height: 25px;
}
.close_btn:hover {
    color:rgb(255, 81, 81);
}