.users_modal_wrap {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 150;
}

.users_modal {
    position: relative;
    width: 750px;
    border-radius: 10px;
    overflow: hidden;
    background-color: azure;
}

.menu {
    width: 100%;
    background-color: #C8FFE8;
    display: flex;
    justify-content: center;
}

.menu_item {
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.users_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.users_list_wrap {
    max-height: 85vh;
    overflow: scroll;
}

.activeMenu {
    cursor: default;
    border-bottom: 5px solid #5EBD9B;
}

.close_btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 26px;
    color: rgb(155, 155, 155);
    cursor: pointer;
    height: 25px;
}
.close_btn:hover {
    color:rgb(255, 81, 81);
}

.show_more_btn_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.show_more_btn_wrap button {
    margin: 10px 0;
    width: 170px;
    font-size: 16px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 2px rgb(168, 168, 168);
    background-color: #6DEFC0;
    cursor: pointer;
    transition: all 0.2s;
}

.show_more_btn_wrap button:hover {
    color: white;
    box-shadow: 0 1px 1px rgb(168, 168, 168);
    top: 3px;
}

@media (max-width: 768px) {
    .users_list {
        grid-template-columns: 1fr;
    }
}