.users_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.users_list_wrap {
    max-height: 85vh;
    overflow: scroll;
}

.show_more_btn_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.show_more_btn_wrap button {
    margin: 10px 0;
    width: 170px;
    position: relative;
    top: 0;
    font-size: 16px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 2px rgb(168, 168, 168);
    background-color: var(--main-button-color);
    cursor: pointer;
    transition: all 0.2s;
}

.show_more_btn_wrap button:hover {
    color: white;
    box-shadow: 0 1px 1px rgb(168, 168, 168);
    top: 3px;
}

@media (max-width: 768px) {
    .users_list {
        grid-template-columns: 1fr;
    }
}