header {
  width: 100vw;
  grid-area: header;
  /* position: fixed; */
  margin-bottom: 10px;
  z-index: 100;
}

nav {
  grid-area: nav;
  /* position: fixed;
  top: 95px;
  left: 12.5px; */
  z-index: 100;
}

section {
  grid-area: page;
  padding: 0 15px 15px 0;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 65px calc(100vh - 65px);
  grid-template-columns: 75px 1fr;
  /* grid-gap: 10px; */
  grid-template-areas: 
  "header header"
  "nav page";
}