:root {
  --main-color: linear-gradient(119deg,#5ee6f0,#9a3deb,#6912d5);
  --main-color: #78E1AF;
  --main-color: #2a3131;

  --hover-main-color: #8634ce;
  --hover-main-color: #67c598;
  --hover-main-color: #1e2424;

  --main-button-color: #6DEFC0;
  --main-button-color: #67baf1;
  --hover-button-color: #569bc9;

  --header-windows-color: #c8ffe8;
  --dark-text-color: rgba(0, 0, 0, 0.692);
}

header {
  position: fixed;
  height: 55px;
  width: 100vw;
  grid-area: header;
  margin-bottom: 10px;
  z-index: 100;
}

nav {
  grid-area: nav;
  position: fixed;
  top: 65px;
  left: 10px;
  z-index: 90;
}

section {
  grid-area: page;
  padding: 0 10px 15px 0;
}

.App {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 65px calc(100vh - 65px);
  grid-template-columns: 75px 1fr;
  grid-template-areas: 
  "header header"
  "nav page";
}

@media (max-width: 425px)
or (max-height: 350px) {
  .App {
    margin-bottom: 85px;
    grid-template-rows: 65px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "page"
  }

  section {
    padding: 0 10px;
  }

  nav {
    top: auto;
    bottom: 15px;
    left: 0;
    right: 0;
  }
}